#page-register {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.register-form {
  width: 100vw;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form form {
  max-width: 35.2rem;
  width: 100%;
  margin-top: 7rem;
}

.register-form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

.register-form fieldset > p {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.register-form fieldset legend {
  font: 700 3.6rem Poppins;
  color: var(--color-text-title);
}

.register-form form .input-container {
  margin-top: 4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid var(--color-line-in-white);
}

.register-form form .input-container input {
  padding: 2.4rem;
  background: #fff;
  border: 0;
  outline: none;
  width: 100%;
}

.register-form form .input-container .field + .field {
  border-top: 1px solid var(--color-line-in-white);
}

.register-form form .input-container .password-field {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.register-form form .input-container .password-field img {
  margin-right: 2.4rem;
  cursor: pointer;
}

.register-form form .input-container input::placeholder {
  color: var(--color-text-complement);
}

.register-form form .button-container {
  margin-top: 4rem;
}

.register-form form .button-container button {
  width: 100%;
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  background: var(--color-secundary);
  font-size: 1.6rem;
  transition: background 0.2s;
}

.register-form form .button-container button:hover {
  background: var(--color-secundary-dark);
}

.hero-content {
  width: 0vw;
  background: var(--color-primary);
  display: none;
}

.hero-content .bg-image {
  height: 100%;
  background: url('../../assets/images/background.png') no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content .bg-image h2 {
  color: var(--color-text-in-primary);
  font-weight: normal;
}

@media (min-width: 1100px) {
  .hero-content {
    width: 50vw;
    display: initial;
  }

  .register-form {
    width: 50vw;
  }
}
